<!--The content below is only a placeholder and can be replaced.-->
<!-- <div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<ul>
  <li class="text" *ngFor="let chat of chats | async">
    {{chat.mensajes}}
  </li>
</ul> -->

<div class="container main-container">
  <h1 class="text-center">X - Chat</h1>
  <div class="text-center">
    <img src="{{_cs.usuario.photo}}" class="rounded-circle perfil">
  </div>
  <div class="text-right col-md-12" *ngIf="_cs.usuario.uid">
    <button type="button"
            (click)="_cs.logout()"
            class="btn btn-danger">Salir</button>
  </div>
  <app-login *ngIf="!_cs.usuario.uid"></app-login>

  <div class="chat-window center" *ngIf="_cs.usuario.uid">
    <app-chat></app-chat>
  </div>
</div>


<router-outlet></router-outlet>
