<div class="row">
  <div class="col-md-12 text-center">
      <p>
        Registraté e ingresa con tu cuenta favorita
      </p>
      <button type="button"
              class="btn btn-outline-danger"
              id="google-btn"
              (click)="ingresar('google')">
      <i class="fab fa-google-plus-g"></i> Google
      </button>
      <button type="button"
              class="btn btn-outline-primary"
              id="facebook-btn"
              (click)="ingresar('facebook')">
        <i class="fab fa-facebook-f"></i> Facebook
      </button>
      <!-- <button type="button"
              class="btn btn-outline-info"
              id="twitter-btn"
              (click)="ingresar(twitter)">
        <i class="fab fa-twitter"></i> Twitter
      </button> -->
  </div>
</div>
